<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo = "http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<bean id  =  "config" class  =  "com.netease.backend.coordinator.config.CoordinatorConfig">
		<property name = "bgThreadNum" value = "20" />
		<property name = "retryParallelism" value = "20" />
		<property name = "expireTime" value = "100000" />
		<property name = "ckptInterval" value = "100000" />
		<property name = "rdsIp" value = "10.120.146.129:3306" />
		<property name = "monitorInterval" value = "300000" />
		<property name = "alarmRunningTx" value = "1" />
		<property name = "alarmTxCount" value = "1" />
		<property name = "appName" value = "Coordinator" />
		<property name = "zkAddress" value = "zookeeper://10.120.146.133:2181" />
	</bean>

	<bean id = "localDataSource" class = "org.apache.commons.dbcp.BasicDataSource"
		destroy-method = "close">
		<!--
		 defaultAutoCommit：设置数据源中返回的连接是否采用自动机制，默认值为true；
		 defaultReadOnly：设置数据源是否仅能执行只读操作，默认值为：false；
		 maxActive：最大连接数据库连接数，设置为0时，表示没有限制； &#8226;maxIdle：最大等待连接中的数量，设置为0时，表示没有限制；
		 maxWait：最大等待秒数，单位毫秒，超时会报错误信息；
		-->
		<property name = "driverClassName" value = "com.mysql.jdbc.Driver" />
		<property name = "url" value = "jdbc:mysql://10.120.146.129:3306/tcc" />
		<property name = "username" value = "qs" />
		<property name = "password" value = "123456" />
		<property name = "initialSize" value = "10"/>
		<property name = "maxActive" value = "100" />
		<property name = "maxIdle" value = "20" />
		<property name = "minIdle" value = "20" />
		<property name = "maxWait" value = "2000" />
	</bean>
	
	<bean id = "systemDataSource" class = "org.apache.commons.dbcp.BasicDataSource"
		destroy-method = "close">
		<property name = "driverClassName" value = "com.mysql.jdbc.Driver" />
		<property name = "url" value = "jdbc:mysql://10.120.146.129:3306/tcc_global" />
		<property name = "username" value = "qs" />
		<property name = "password" value = "123456" />
		<property name = "initialSize" value = "5"/>
		<property name = "maxActive" value = "10" />
		<property name = "maxIdle" value = "10" />
		<property name = "minIdle" value = "10" />
		<property name = "maxWait" value = "2000" />
	</bean>
	
	<!-- 设置由Sprng载入的Log4j配置文件位置
	<context-param>
    	<param-name>log4jConfigLocation</param-name>
    	<param-value>/WEB-INF/props/log4j.properties</param-value>
	</context-param>
   	<context-param>
    	<param-name>log4jRefreshInterval</param-name>
    	<param-value>6000</param-value>
   	</context-param>
    <listener>
    	<listener-class>
        	org.springframework.web.util.Log4jConfigListener
     	</listener-class>
   	</listener>
   	 -->
</beans>

